/*
 * @file Declares additional CSS for pages with form elements
 * @author Reuben L. Lillie <reubenlillie@gmail.com>
 */

input[type=text],
input[type=email],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
textarea {
  /* !important for applying font-family to textarea */
  font-family: Special Elite, serif !important;
}

form {
  max-width: 100%;
}

fieldset {
  border-color: #ce7639;
  border-color: var(--primary-color, #ce7639);
  border-style: solid;
  border-width: 0.0625vw;
  border-width: var(--base-unit-sixteenth, 0.0625vw);
}

fieldset > * {
  margin-bottom: 1vw;
  margin-bottom: var(--base-unit, 1vw);
}

legend {
  font-size: 2em;
}

button,
label,
legend {
  font-weight: bold;
}

label,
input,
textarea {
  width: 100%;
  max-width: calc(100vw - 1em);
  padding: 0.5vw;
  padding: var(--base-unit-half, 0.5vw);
}

input,
select,
textarea {
  border-color: #848484;
  border-color: var(--gray, #848484);
  border-style: solid;
  border-width: 0.0625vw;
  border-width: var(--base-unit-sixteenth, 0.0625vw);
}

button,
input,
select,
textarea {
  color: #271b0f;
  color: var(--body-text, #271b0f);
  background: transparent;
  background: var(--body-background, transparent);
  border-radius: 0.5vw;
  border-radius: var(--base-unit-half, 0.5vw);
  box-shadow: 0.125vw 0.125vw 0.125vw rgba(15,11,6,0.25);
  box-shadow: var(--shadow, 0.125vw 0.125vw 0.125vw rgba(15,11,6,0.25));
  font-family: inherit;
  font-size: inherit;
  padding: 0.5vw;
  padding: var(--base-unit-half, 0.5vw);
}

@media (prefers-color-scheme: dark) {
  button,
  input,
  select,
  textarea {
    color: #fff
    color: var(--body-text, #fff);
    background: #271b0f;
    background: var(--body-background, #271b0f);
  }
}

button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  border-color: #ce7639;
  border-color: var(--primary-color, #ce7639);
  border-style: solid;
  border-width: 0.0625vw;
  border-width: var(--base-unit-sixteenth, 0.0625vw);
  box-shadow: 0.125vw 0.125vw 0.125vw #ce7639;
  box-shadow: var(--base-unit-eighth, 0.125vw)
              var(--base-unit-eighth, 0.125vw)
              var(--base-unit-eighth, 0.125vw)
              var(--primary-color, #ce7639);
}

button {
  color: white;
  color: var(--white, white);
  background: #ce7639;
  background: var(--primary-color, #ce7639);
  border-color: #ce7639);
  border-color: var(--primary-color, #ce7639);
  border-style: solid;
  border-width: 0.0625vw;
  border-width: var(--base-unit-sixteenth, 0.0625vw);
  font-size: 1.5em;
  padding-top: 1vw;
  padding-top: var(--base-unit, 1vw);
  padding-right: 1vw;
  padding-right: var(--base-unit, 1vw);
  padding-bottom: 0.5vw;
  padding-right: var(--base-unit-half, 0.5vw);
  padding-left: 1vw;
  padding-left: var(--base-unit, 1vw);
  min-width: 25vw;
  width: max-content;
  max-width: 100%;
  text-align: center;
}
